.container{
    position: relative;
    display: flex;
}
.left {
    width: 50%;
    border: 1px solid;
    text-align: left;
    margin-right: 50px;
    padding: 10px;
}
.right{
    width: 40%;
    border: 1px solid;
    text-align: left;
    padding: 10px;
}
.left .list-data:hover, .right .list-data:hover{
    background: #2222
}
.green {
    color: green;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.selected {
    background: #4444
}
.list-data {
    word-break: break-word;
}