<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
        Welcome to {{ title }}!
  </h1>
  <div class="container">
    <div class="left">
      <div [ngClass]= "{'selected': attr.name == currentAttr.name}" (click) ="selectArribute(attr)" class="list-data attrbute" *ngFor = "let attr of attributeList; trackBy: trackByFn">
        <span>{{attr.name + ':' + attr.values}}</span>
      </div>
    </div>
    <div class = "right">
      <div [ngClass]= "{'selected': checkSeleted(attr.name)}" (click) ="selectValue(attr)" class="list-data val-list" *ngFor = "let attr of valuesList | sort : 'rank'; trackBy: trackByFn">
        <span [ngClass] ="{'green': attr.rank == 1, 'red': attr.rank == 2, 'orange': attr.rank == 3}">{{attr.name }}</span>
      </div>
    </div>
  </div>
   <!-- <router-outlet></router-outlet> -->
</div>


